#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column !important;
  }
  
  .App > .amplify-view {
    width: 100% !important;
  }
}

.logo {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: contain;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

table {
  color: #000;
}

@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.amplify-button.amplify-field-group__control.amplify-button--primary {
  background-color: #00CFFD !important;
}

.amplify-button.amplify-field-group__control.amplify-button--primary:hover {
  background-color: #00CFFD !important;
}

.amplify-button.amplify-field-group__control.amplify-button--destructive {
  background-color: #FF2DCB !important;
}

.amplify-button.amplify-field-group__control.amplify-button--destructive:hover {
  background-color: #FF2DCB !important;
}

.amplify-button.amplify-field-group__control.amplify-button--link {
  background-color: #00CFFD !important;
  color: white !important;
}

.amplify-button.amplify-field-group__control.amplify-button--link:hover {
  background-color: #00CFFD !important;
  color: white !important;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
